.Label{
    width: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0 10px 10px;
}

.Label p{
    height: 14px;
    font-size: 14px;
    margin: 5px;
}

.Label.enemy{
    margin-top: 60px;
}

.Label.ally{
    margin-bottom: 60px;
}