.Label{
    width: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0 10px 10px;
    background-color: #2f4f4f;
    box-shadow: 2.5px 2.5px 2.5px #00000030;
}

.Label p{
    height: 16px;
    font-size: 20px;
    margin: 3px;
}

.Label.enemy{
    margin-top: 68px;
}

.Label.ally{
    margin-top: 18px;
}