.Graveyard{
    margin-left: 30px;
}

.Graveyard.ally{
    margin-top: 68px;
}

.Graveyard.enemy{
    margin-top: 18px;
}

.Graveyard h3{
    width: 104px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f4f4f;
    margin: 0;
    text-align: center;
    font-size: 15px;
}

.grave-squares{
    display: flex;
    border: 2px solid #ffa500;
    border-radius: 0 0 12.5px 12.5px;
}