.Grid{
    margin: 10px;
}

.grid-border{
    border: 8px solid #55697d;
    border-radius: 20px;
}

.grid-squares{
    border-radius: 12.5px;
    display: grid;
    grid-column: 1 / span 6;
    grid-row: 1 / span 6;
    grid-template-columns: repeat(6, 50px);
    grid-template-rows: repeat(6, 50px);
}

.grid-squares.enemy{
    border: 2px solid #90ee90;
}

.grid-squares.ally{
    border: 2px solid #6495ed;
}

.row{
    display: flex;
}